@{
    ViewData["Title"] = "MunemoApp";
}

<div class="text-center">
    <img class="background" src="/css/passion.jpg"/>
    <h1 class="display-4">Hey There! Did You Know..!</h1>
    <h3 class="c-text">Coders are constantly turning the impossible into a kind of possible.</h3>
</div>


